---
layout: default
title: notes_main
section-type: notes
---

<h2 align="center"> resources </h2>


<div class="roww">
<!--<br>-->
<!--A rough set of notes/posts which may serve as useful reference for people in machine learning / neuroscience.-->
</div>

<div class="roww">
<center>
    <!--<p>-->
    <!--<hr>-->
    <!--</br></br>-->
    <i align="left">A rough set of notes/posts which may serve as useful reference for people in machine learning / neuroscience.</i>
    </br></br>
    <!--</p>-->
</center>
</div>

<div class="roww"> <!--begin the 1st row-->
{% for collection in site.collections %}

    {% assign categories = "" | split:"|" %}
    {% for doc in collection.docs %}
    {% if doc.category %}
    {% unless categories contains doc.category %}
    {% assign categories = categories | push: doc.category %}
    {% endunless %}
    {% endif %}
    {% endfor %}
    {% assign categories_size = categories | size %}
    {% if categories_size == 0 %}
    {% assign categories = categories | push: nil %}
    {% endif %}

    {% for category in categories %}

        {% if category %}
        {% if category != "blog" %}
        {% if category != "research" %}


            <div class="coll">
                <h3 align="center">{{ category | downcase }}</h3>

                {% assign category_docs = collection.docs | where: "category", category %}
                <ul class="list-items">
                {% for item in category_docs %}
                    {% if item.title %}
                        <li><a href="{{ site.baseurl }}{{item.url}}" style="font-size:16px"> {{ item.title | downcase }} </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
             </div>

        {% endif %}
        {% endif %}
        {% endif %}

        {% if category == "math" %}
            </div> <!--end the 1st row-->
            <div class="roww"> <!--begin the 2nd row-->
        {% endif %}

    {% endfor %}
{% endfor %}


<!--</div> &lt;!&ndash;end the 2nd row&ndash;&gt;-->

<style>
.coll {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
}

.coll4 {
    float: left;
    width: 24.9%;
    padding-bottom: 50px;
}

.coll5 {
    float: left;
    width: 19.99%;
    padding-bottom: 50px;
}


/* Clear floats after the columns */
.roww:after {
    content: "";
    display: table;
    clear: both;
}
</style>