<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <img src="{{ site.url }}/assets/img/me_update.png" style="border-radius: 50%" width="40%">
                    <p class="intro-text">{{ content }}</p>
                    {% capture title %}{% for page in site.pages | sort: "title" %}{% if forloop.first %}{{ page.title
                    }}{% endif %}{% endfor %}{% endcapture %}
                    <ul class="list-inline social-buttons">
                        <li><a href="mailto:gongqingfeng1996@gmail.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                        <li><a href="https://github.com/gongqingfeng" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
                        <li><a href="https://weibo.com/u/5707562322" target="_blank"><i class="fa fa-weibo fa-fw"></i></a></li>
                        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=894237294&site=qq&menu=yes" target="_blank"><i class="fa fa-qq fa-fw"></i></a></li>
                        <li><a href="https://twitter.com/gongqingfeng21" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                    </ul>
                    <a href="#{{ title }}" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>