<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<div id="particles-js" text-align="center"></div>
{% include particles.html %}
{% include google_analytics.html %}
{% include head.html %}
{% include navigation.html %}
{% include about.html %}


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% for page in site.pages %}
    {% if page.section-type == "intro" %}
      <section id="{{ page.title }}" class="container content-section">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                    {{ page.content | markdownify }}

                    {% if page.email %}
                    <p><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
                    {% endif %}
                    <ul class="list-inline social-buttons">
                        {% for network in page.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
                        {% endfor %}
                    </ul>
              </div>
          </div>
      </section>
    {% elsif page.section-type == "projects" %}

      <section id="{{ page.title }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                {{ page.content | markdownify }}
              </div>
          </div>

           <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>year</th>
                <th>title</th>
                <th>authors</th>
                <th>tags</th>
                <th>code</th>
                <th>slides</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2018.04</td>
                <td>2018年4月华为软件精英挑战赛初赛代码</td>
                <td>Chen Yanbing, Fan Tao, & Gong Qingfeng</td>
                <td>蚁群算法, 指数平滑, RNN</td>
                <td><a href="https://github.com/gongqingfeng/huawei-codecraft" target="_blank">huawei-codecraft</a></td>
                <td>--</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>蓝牙控制单片机小车app</td>
                <td>Gong Qingfeng</td>
                <td>APP, 串口, 蓝牙, 单片机</td> 
                <td><a href="https://github.com/gongqingfeng/smartCarApp" target="_blank">smartCarApp</a></td>
                <td>--</td>
            </tr>
            <tr>
                <td>2018.04</td>
                <td>基于django框架的网站：coda比赛作品</td>
                <td>Yuan Tian, Liu Kunpeng, Chen Dingding, Chen Chunjiang, Wu Chengke, Gao Daiheng & Gong Qingfeng</td>
                <td>django, python, coda</td>
                <td><a href="https://github.com/gongqingfeng/django_websites" target="_blank">django_websites</a></td>
                <td><a href="http://note.youdao.com/noteshare?id=5a5674a19ccd3fc53470147166b9d1c7" target="_blank"><i class="fa fa-desktop fa-fw"></i></a></td>
            </tr>
           <tr>
                <td>2017.11</td>
                <td>python语言写成的校园网Drcom登陆客户端</td>
                <td>Gong Qingfeng</td>
                <td>python, 客户端, Drcom, 跨平台</td> 
                <td><a href="https://github.com/gongqingfeng/DrcomUI" target="_blank">DrcomUI</a></td>
                <td>--</td>
            </tr>
           <tr>
                <td>2017.10</td>
                <td>Drcom校园网登录脚本</td>
                <td>Gong Qingfeng</td>
                <td>python, 路由器, linux, windows</td> 
                <td><a href="https://github.com/gongqingfeng/Drcom" target="_blank">Drcom</a></td>
                <td>--</td>
            </tr>
           <tr>
                <td>2016</td>
                <td>C语言实现蓝牙智能小车，加上舵机控制</td>
                <td>Gong Qingfeng</td>
                <td>C语言, 蓝牙, 小车</td> 
                <td><a href="https://github.com/gongqingfeng/the-c-of-smartCar" target="_blank">c code of smartCar</a></td>
                <td>--</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>基于红外线控制的智能小车C语言代码</td>
                <td>Gong Qingfeng</td>
                <td>红外线, C语言, 小车</td> 
                <td><a href="https://github.com/gongqingfeng/the-infrared-ray-of-smartCar" target="_blank">infrared ray of smartCar</a></td>
                <td>--</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>手机app蓝牙助手</td>
                <td>Gong Qingfeng</td>
                <td>java, app, 蓝牙</td> 
                <td><a href="https://github.com/gongqingfeng/serialAssistant" target="_blank">serialAssistant</a></td>
                <td>--</td>
            </tr>

    </table>



    </section>
    {% elsif page.section-type == "timeline" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.title }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-64 col-lg-offset-0">
                {{ page.content | markdownify }}
                <ul class="timeline">
                    {% for post in site.posts %}
                      {% assign loopindex = forloop.index | modulo: 2 %}
                      {% capture class %}
                        {% if loopindex == 0 %}
                          timeline-inverted
                        {% endif %}
                      {% endcapture %}

                      <li class="{{ class }}">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>{{ post.title }}</h4>
                                  <h4 class="subheading">{{ post.subtitle }}</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">{{ post.content }}</p>
                              </div>
                          </div>
                      </li>

                    {% endfor %}

                      <li class="timeline-inverted">
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/default.jpg" alt="">
                        </div>
                      </li>
                </ul>

              </div>
          </div>
      </section>

    {% elsif page.section-type == "notes" %}
        <section id="notes_main" class="container content-section">
            {{page.content}}
        </section>

    {% endif %}
  {% endfor %}

{% include js.html %}

</body>
</html>
